---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.instagram.com/silkpass.app" target="_blank">
				<span class="sr-only">Follow Astro on Instagram</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="#M8 0c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zm2.73 11.388c-.226 0-.446-.048-.653-.133-.393-.146-.683-.388-.815-.578-.193-.394-.147-.67-.147-.67.03-.088.156-.093.375-.024.014.01.013.066.027.082.193.21.373.35.5.432.138.088.295.088.433.086.052-.04.124-.083.196-.132.22-.131.477-.318.692-.585.217-.272.366-.581.366-.963 0-.264-.106-.536-.271-.707-.166-.168-.397-.271-.675-.271-.156 0-.282.051-.454.133-.126.065-.285.153-.466.254-.084.025-.183.053-.301.033-.095-.016-.165-.059-.196-.099-.005-.006.014-.027.06-.048.306-.233.58-.616.58-1.217 0-.48-.153-.794-.34-1.02-.226-.274-.53-.419-.82-.419-.39 0-.682.147-.901.358-.16.069-.392.16-.645.237-.061.023-.116.037-.178.042-.12.008-.237.014-.354.046a.156.156 0 0 1-.181-.182c.037-.217.126-.462.394-.697.182-.159.204-.308.21-.393 0-.195-.086-.343-.196-.459-.086-.086-.193-.157-.31-.196-.095-.034-.306-.12-.656-.05-.843.135-1.416.532-1.698.651-.063.128-.107.233-.152.286-.053.057-.103.074-.138.093-.036.019-.062.052-.147.023-.162-.057-.357-.06-.482.048-.215.194-.23.379-.113.913.271 1.078 1.347 1.128 1.621 1.125.224-.003.509-.078.753-.18.301-.136.65-.389.908-.716.289-.29.688-.579.954-.938.34-.457.66-1.071.685-1.226.014-.073.013-.097.001-.162-1.232-.014-2.407.295-2.888.272s-.471-.203-.672-.464c-1.212-1.528-1.055-1.344-1.044-1.354.026-.072 1.694-.661 1.688-.93-.016-.248-1.882.524-1.882.524-.483.24-1.043.045-1.308-.278-.915-.908-.92-2.373-1.049-2.559-.057-.074.026-.208.345-.298.292-.082.832-.14 1.55-.234a.211.211 0 0 1 .221.248c-.017.059-.431 1.514-.433 1.537-.025.046-.098.082-.226.083a.154.154 0 0 1-.17-.167c.019-.037.036-.075.05-.115.048-.141.116-.317.206-.493.257-.701.598-1.401 1.023-2.013.502-.62 1.232-1.19 1.866-1.63.046-.12.088-.244.131-.375.164-.452.422-1.045.694-1.509.045-.086.001-.131-.061-.187a12.876 12.876 0 0 0-.765-.546c-.086-.042-.174-.086-.264-.131"
					></path></svg
				>
			</a>
			<a href="https://bsky.app/profile/silkpass.app" target="_blank">
				<span class="sr-only">Follow Astro on Bluesky</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
					></path></svg
				>
			</a>
			<a href="https://github.com/withastro/astro" target="_blank">
				<span class="sr-only">Go to Astro's GitHub repo</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
